@media (min-width: 900px) {
  .header {
    height: 10px;
    background-color: #2f2f2f;
    width: 100%;
  }
  .shuffle_sort-title--mobile {
    display: none;
  }
  .shuffle_sort--title {
    text-align: left;
    padding: 10px;
    font-size: 32px;
    font-weight: bold;
  }
  .shuffle_sort--numbers {
    width: 65%;
    display: flex;
    padding: 20px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .action-btn {
    background-color: #de7064;
    font-size: 25px;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    display: flex;
  }
  .icon {
    height: 25px;
    margin-right: 10px;
  }
  .shuffle_sort--controls {
    background-color: #2f2f2f;
    border-radius: 0px 15px 15px 0px;
    width: 35%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .shuffle_sort--area {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
  }
  .shuffle_sort--container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
  .shuffle_sort {
    width: 750px;
    align-self: center;
  }
  .logo-pc {
    margin: 10px;
    align-self: flex-end;
  }
  .logo-mobile {
    display: none;
  }
  .shuffle_sort--square {
    background: #de7064;
    border-radius: 15px;
    flex: 1 0 30%;
    margin: 5px;
    height: 145px;
    display: flex;
    align-items: center;
  }
  .square2 {
    background-color: #2f2f2f;
  }

  .shuffle_sort--square span {
    font-size: 40px;
    font-weight: bold;
    color: white;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 900px) {
  .header {
    height: 48px;
    background-color: #2f2f2f;
    width: 100%;
    color: white;
  }
  .shuffle_sort-title--mobile {
    display: block;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
  }
  .shuffle_sort--title {
    display: none;
  }
  .shuffle_sort--numbers {
    display: flex;
    padding: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    order: 2;
  }
  .shuffle_sort--controls {
    padding: 10px 20px;
    display: flex;
    order: 1;
  }
  .action-btn {
    background-color: #de7064;
    font-size: 25px;
    color: white;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    cursor: pointer;
  }
  .icon {
    height: 25px;
  }
  .btn-name {
    display: none;
  }
  .shuffle_sort--area {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
  }
  .shuffle_sort--container {
    display: flex;
    width: 100%;
  }
  .shuffle_sort {
    align-self: center;
    width: 100%;
  }
  .controls-area {
    display: flex;
  }
  .logo-pc {
    display: none;
    flex-grow: 1;
  }
  .logo-mobile {
    margin: 10px;
  }
  .shuffle_sort--square {
    background-color: white;
    color: #de7064;
    border-radius: 15px;
    flex: 1 0 100%;
    margin: 5px;
    border-left: 10px solid;
    border-right: 1px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
    display: flex;
    align-items: center;
    height: 9vh;
  }
  .square2 {
    color: #2f2f2f;
  }

  .shuffle_sort--square span {
    font-size: 40px;
    font-weight: bold;
    color: #de7064;
    width: 100%;
    text-align: center;
  }
  .square2 span {
    color: #2f2f2f;
  }
}
body {
  margin: 0px;
  background-color: #f8f8f8;
}
.footer {
  margin-top: 30px;
  text-align: center;
  color: #beb5b4;
  font-style: italic;
}
